body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #555;
    word-wrap: break-word;
    background-color: #f7f7f7;
    background: url(../images/deadpool2.jpg) no-repeat center center fixed;
    background-size: cover;
    margin-bottom: 20px;
}
/* hebrew */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: local('Varela Round'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v7/APH4jr0uSos5wiut5cpjrvZjSN9jRjHSPidsMdAc5jQ.woff2) format('woff2');
    unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* latin */
@font-face {
    font-family: 'Varela Round';
    font-style: normal;
    font-weight: 400;
    src: local('Varela Round'), local('VarelaRound-Regular'), url(https://fonts.gstatic.com/s/varelaround/v7/APH4jr0uSos5wiut5cpjrhampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/gFXtEMCp1m_YzxsBpKl68gsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
    font-family: 'Bungee Inline';
    font-style: normal;
    font-weight: 400;
    src: local('Bungee Inline'), local('BungeeInline-Regular'), url(https://fonts.gstatic.com/s/bungeeinline/v2/Tb-1914q4rFpjT-F66PLCQYWpCd0FFfjqwFBDnEN0bM.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
.header-wrapper {
    height: 60px;
    width: 100%;
    position: fixed;
    z-index:10;
    background-color: #f7f7f7;
    background: url(../images/deadpool2.jpg) no-repeat center center fixed;
    background-size: cover;
    transition-duration: 0.5s;
}
.header-wrapper.sticky {
    box-shadow: 0 4px 4px -4px #999;
}
.header {
    max-width: 1200px;
    margin: 0 auto;
}
.header-logo-part {
    float:left;
    margin-left: 20px;
    width: 200px;
}
.header-logo {
    height: 60px;
    width: 120px;
    padding: 15px 0;
    cursor: pointer;
}
.header-logo img {
    height: 30px;
    width: 120px;
}
.header-right {
    float:right;
}
#downloads-button {
    float: left;
    color: #ffffff;
    background-color: #f06292;
    font-size: 16px;
    line-height: 40px;
    margin-top: 10px;
    padding: 0 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 20px;
    transition: 0.5s;
}
#downloads-button.shine, #downloads-button:hover {
    background-color: #ba2d65;
}
.header-close-part {
    float: right;
    margin: 0 10px;
    font-size: 30px;
    line-height: 60px;
}
.close-button {
    color: #555;
    cursor: pointer;
}
.header-space-wrapper{
    height: 60px;
    width:100%;
    clear:both;
}
.popup-wrapper{
    position: fixed;
    background-color: rgba(50,50,50,0.7);
    z-index: 9999;
    height:100%;
    width:100%;
}
.popup-box {
    position: absolute;
    width: 600px;
    height: 600px;
    clear:both;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    box-shadow: 4px 4px 17px rgba(50,50,50,0.5);
    background-color: #fff;
    font-size: 20px;
    padding: 15px;
}
.popup-close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 24px;
    color: #999;
    cursor: pointer;
}
.popup-box .popup-header {
    font-size: 24px;
    color: #1e88e5;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.popup-box img {
    height: 100%;
}
.popup-main-part {
    overflow: scroll;
    height: 530px;
}
.popup-box table {
    width: 100%;
    text-align: center;
    padding: 15px;
}
.popup-box thead {
    background-color: #1e88e5;
    padding: 4px 0;
    color: #fff;
}
.popup-box td {
    padding: 4px;
    height: 40px;
}
.popup-box tbody tr {
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.popup-box tbody tr:hover {
    background-color: #f3f3f3;
}
td.streamEpisode {
    color: #e53935;
}
td.downloadEpisode {
    color: #f06292;
}
td.movieStream {
    color: #f06292;
}
td.movieDownload {
    color: #f06292;
}
.waiter-wrapper{
    position: fixed;
    background-color: rgba(50,50,50,0.7);
    z-index: 9999;
    height:100%;
    width:100%;
}
.waiter-box {
    position: absolute;
    width: 400px;
    height: 280px;
    clear:both;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    box-shadow: 4px 4px 17px rgba(50,50,50,0.5);
    background-color: #fff;
    font-size: 20px;
    padding: 15px;
    border-radius: 4px;
}
.waiter-content {
    height: 250px;
    width: 370px;
}
.waiter-text {
    width:100%;
    height: 80px;
    display: table;
}
.waiter-text p {
    display: table-cell;
    margin: 0;
    vertical-align: middle;
    text-align: center;
}
.waiter-loader {
    width:100%;
    height: 160px;
    font-size: 40px;
    text-align:center;
    margin-top: 40px;
}
.rotten-buffer {
    width:100%;
    height: 160px;
    font-size: 40px;
    text-align:center;
    margin-top: 40px;
}
.search-wrapper {
}
.search-section {
    max-width: 800px;
    padding: 15px;
    margin: 0 auto;
}
.search-section .form-group {
    margin-bottom: 0;
}
.search-input {
    padding: 0;
}
#search-input {
    font-size: 18px;
    height: 42px;
    background-color: rgba(255,255,255,0);
    box-shadow: none;
}
.search-button {
    padding: 0;
}
@media (min-width: 768px) {
    .search-section input {
        border-radius: 4px 0 0 4px;
    }
    .search-section .btn {
        border-radius: 0 4px 4px 0;
    }
}

#search-button {
    font-size: 18px;
    line-height: 30px;
    padding: 5px;
    width: 100%;
    color: #ffffff;
    background-color: #1e88e5;
}
#search-button:hover {
    background-color: #005cb2;
    color: #ffffff;
}

.search-result-wrapper {
    max-width: 800px;
    padding: 15px;
    margin: 0 auto;
}

.search-result-text {
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    color: #f06292;
    font-size: 16px;
    line-height: 20px;
    background-color: #fff;
}
.search-buffer {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
}

.trending-section {
    max-width: 1000px;
    margin: 0 auto;
}
.trending-movie-box {
    position: relative;
    float: left;
    width: 150px;
    height: 253px;
    padding: 10px;
    margin: 25px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    cursor: pointer;
}
.tr-movie-img {
    height: 193px;
    width: 130px;
}
.tr-movie-img img {
    width: 130px;
    height: 193px;
}
.tr-bottom {
    width: 130px;
    height: 40px;
    overflow: hidden;
}
.tr-details {
    text-align: center;
    height: 40px;
    vertical-align: middle;
    width: 130px;
    display: table-cell;
}
.tr-name {
    display: inline-block;
    vertical-align: top;
}
.tr-rate-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
}
.tr-rate {
    position: absolute;
    color: #fff;
    right: -10px;
    width: 40px;
    height: 36px;
    text-align: center;
    line-height: 36px;
}
.tr-rate-box i {
    font-size: 40px;
    color: #f06292;
}
.results {
    max-width: 800px;
    padding: 0 15px;
    margin: 0 auto;
}

#moviesResultsList {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    background-color: #fff;
}
#seriesResultsList {
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    background-color: #fff;
}
.searchTypeTitle {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    padding: 10px;
    color: #f06292;
    border-bottom: 1px solid #ddd;
}
.searchMovie {
    height: 110px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.searchSerie {
    height: 110px;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.searchMovieImage {
    height: 90px;
    width: 60px;
    float: left;
}
.searchMovieImage img {
    width: 100%;
    height: 100%;
}
.searchMovieDetail {
    float: left;
    width: calc(100% - 120px);
    padding: 0 10px;
}
.searchMovieName {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    overflow-y: hidden;
    color: #1e88e5;
}
.searchMovieSubline {
    font-size: 15px;
    line-height: 20px;
    height: 60px;
    overflow-y: hidden;
}
.searchMovieRating {
    float: left;
    width: 60px;
    margin-top: 15px;
}
.searchMovieRatingValue {
    position: absolute;
    width: 60px;
    color: #fff;
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
}
.searchMovieRating i {
    font-size: 60px;
    color: #f06292;
}

.searchSerieImage {
    height: 90px;
    width: 60px;
    float: left;
}
.searchSerieImage img {
    width: 100%;
    height: 100%;
}
.searchSerieDetail {
    float: left;
    width: calc(100% - 120px);
    padding: 0 10px;
}
.searchSerieName {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    overflow-y: hidden;
    color: #1e88e5;
}
.searchSerieYear {
    font-size: 15px;
    line-height: 20px;
    height: 60px;
    overflow-y: hidden;
}
.searchSerieRating {
    float: left;
    width: 60px;
    margin-top: 15px;
}
.searchSerieRatingValue {
    position: absolute;
    width: 60px;
    color: #fff;
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
}
.searchSerieRating i {
    font-size: 60px;
    color: #f06292;
}



.seasonListDiv {
    height: 110px;
    padding: 10px 10px 0 10px;
    cursor: pointer;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}
.seasonListImage {
    height: 90px;
    width: 60px;
    float: left;
}
.seasonListImage img {
    width: 100%;
    height: 100%;
}
.seasonListDetail {
    float: left;
    width: calc(100% - 120px);
    padding: 0 10px;
}
.seasonListName {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    overflow-y: hidden;
    color: #1e88e5;
}
.seasonListConsensus {
    font-size: 15px;
    line-height: 20px;
    height: 40px;
    overflow-y: hidden;
}
.seasonListInfo {
    font-size: 15px;
    line-height: 20px;
    height: 20px;
    overflow-y: hidden;
}
.seasonListRating {
    float: left;
    width: 60px;
    margin-top: 15px;
}
.seasonListRatingValue {
    position: absolute;
    width: 60px;
    color: #fff;
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
}
.seasonListRating i {
    font-size: 60px;
    color: #f06292;
}


.episodeListDiv {
    height: 110px;
    padding: 10px 10px 0 10px;
    cursor: pointer;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;
}
.episodeListLeft {
    height: 90px;
    width: 60px;
    float: left;
}
.episodeListNumber {
    width: 100%;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    color: #1e88e5;
}
.episodeListDate {
    width: 100%;
    height: 30px;
    line-height: 15px;
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
}
.episodeListDetail {
    float: left;
    width: calc(100% - 120px);
    padding: 0 10px;
}
.episodeListName {
    height: 30px;
    line-height: 30px;
    font-size: 20px;
    overflow-y: hidden;
    color: #1e88e5;
}
.episodeListSynopsis {
    font-size: 15px;
    line-height: 20px;
    height: 60px;
    overflow-y: hidden;
}
.episodeListRating {
    float: left;
    width: 60px;
    margin-top: 15px;
}
.episodeListRatingValue {
    position: absolute;
    width: 60px;
    color: #fff;
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
}
.episodeListRating i {
    font-size: 60px;
    color: #f06292;
}

/*************      MOVIE WRAPPER ****************/

.movie-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.movie-top-section {
    width: 100%;
    clear: both;
    margin-top: 10px;
}
.movie-data-section {
    padding: 10px;
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.movie-download-section {
    padding: 10px;
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.movie-poster {
    float: left;
    width: 130px;
    height: 200px;
}
.movie-poster img {
    width: 100%;
    height: 100%;
}
.movie-info {
    float:left;
    width: calc(100% - 130px);
    padding-left: 10px;
}
.movie-name-year {
    height: 80px;
    width:100%;
    font-size: 20px;
    line-height: 30px;
}
.movie-name {
    max-height: 60px;
    width:100%;
}
.movie-year {
    height: 30px;
    width:100%;
}
.movie-ratings {
    width: 100%;
    clear: both;
    height: 120px;
}
.movie-ratings .row {
    height: 60px;
}
.movie-rating-box {
    float: left;
    width: 50%;
    padding: 10px;
}
.movie-rating-box img {
    float: left;
    width: 40px;
    height: 40px;
}
.movie-rating {
    font-size: 20px;
    line-height: 40px;
    margin-left: 10px;
    float: left;
}
.movieActionButtons {
    height: 200px;
    width: 100%;
}

.movieLoader {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}
.movieActionButton {
    width: 100%;
    height: 60px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    line-height: 40px;
    font-size: 20px;
    vertical-align: middle;
    overflow: hidden;
    color: #ffffff;
    cursor: pointer;
}
.movieActionButton i {
    font-size: 40px;
    float:left;
}
.feeling-lucky {
    float: left;
    padding: 9px;
    width: calc(100% - 60px);
}
.movieActionName {
    float:left;
    margin-left: 10px;
}
.movieActionOption {
    float: right;
    padding: 10px;
    width: 60px;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.5);
}
.movieActionOption i {
    width: 100%;
}
#movieStreamButton {
    background-color:  #1e88e5;
    margin-bottom: 10px;
}
#movieStreamButton:hover {
    background-color: #005cb2;
}
#movieSubtitleButton {
    background-color: #1e88e5;
    margin-bottom: 10px;
}
#movieSubtitleButton:hover {
    background-color: #005cb2;
}
#movieTrailerButton {
    background-color: #1e88e5;
    margin-bottom: 10px;
}
#movieTrailerButton:hover {
    background-color: #005cb2;
}
.section-header {
    width: 100%;
    clear: both;
    padding: 5px 0 10px 15px;
    font-size: 20px;
    line-height: 32px;
    color: #1e88e5;
}
.movieInfo-section {
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
#movieSocialList {
    padding: 0 15px;
}
.socialBox {
    float: left;
    cursor: pointer;
    height: 50px;
    font-size: 30px;
    line-height: 30px;
}
.synopsis-section {
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
#movie-synopsis {
    margin-bottom: 10px;
}
.movie-review {
    margin-bottom: 10px;
}
.review-source {
    color: rgba(15, 68, 114, 1);
}
.review-source-person {
    float: left;
    margin-right: 5px;
}
.movie-info-box {
    margin: 4px 0;
}
.movie-info-label {
    color: #333;
}
.watch-section {
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.cast-section {
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
#movie-watch-list {
    margin-bottom: 15px;
}
#episode-watch-list {
    margin-bottom: 15px;
}
.watch-item {
    height: 60px;
    width: 120px;
    float:left;
    padding: 10px;
}
.watch-box {
    height: 50px;
    width: 100px;
    padding: 5px 10px;
    background-color: #aaa;
    border-radius: 4px;
    cursor: pointer;
}
.watch-box:hover {
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.watch-box img {
    height: 100%;
    width: 100%;
}

.cast-member {
    height: 60px;
    padding: 5px;
    overflow: hidden;
    cursor: pointer;
}

.cast-image {
    height: 50px;
    width: 50px;
    float: left;
}
.cast-image img{
    height: 50px;
    width: 50px;
}
.cast-details {
    float: left;
    width: calc(100% - 60px);
    line-height: 25px;
    margin-left: 10px;
}
.cast-name {
    font-size: 16px;
}
.cast-role {
    color: #666;
}


/*************      SERIE WRAPPER ****************/

.serie-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
#link-route {
    width: 100%;
    margin-top: 10px;
    margin-left: 15px;
}
/*.route-box {
    float: left;
    position: relative;
    line-height: 28px;
    padding: 0 10px;
    background-color: #fff;
}
.route-box {
    float: left;
    padding: 5px 10px;
    background-color: #fff;
}*/
.serie-top-section {
    width: 100%;
    clear: both;
    margin-top: 10px;
}
.serie-data-section {
    padding: 10px;
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.serie-download-section {
    padding: 10px;
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.serie-poster {
    float: left;
    width: 130px;
    height: 200px;
}
.serie-poster img {
    width: 100%;
    height: 100%;
}
.serie-info {
    float:left;
    width: calc(100% - 130px);
    padding-left: 10px;
}
.serie-name-year {
    height: 80px;
    width:100%;
    font-size: 20px;
    line-height: 30px;
}
.serie-name {
    max-height: 60px;
    width:100%;
    color: #1e88e5;
}
.serie-year {
    height: 30px;
    width:100%;
}
.serie-ratings {
    width: 100%;
    clear: both;
    height: 120px;
}
.serie-rating-box {
    float: left;
    width: 50%;
    padding: 10px;
}
.serie-rating-box img {
    float: left;
    width: 40px;
    height: 40px;
}
.serie-rating {
    font-size: 20px;
    line-height: 40px;
    margin-left: 10px;
    float: left;
}
.serieActionButtons {
    height: 200px;
    width: 100%;
}
.serieLoader {
    font-size: 40px;
    text-align: center;
    padding-top: 20px;
}
.serieActionButton {
    width: 100%;
    height: 60px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    line-height: 40px;
    font-size: 20px;
    vertical-align: middle;
    overflow: hidden;
    color: #ffffff;
    cursor: pointer;
}
.serieActionButton i {
    font-size: 40px;
    float:left;
}
.serieActionName {
    float:left;
    margin-left: 10px;
}
.serieActionOption {
    float: right;
    padding: 10px;
    width: 60px;
    text-align: center;
    border-left: 1px solid rgba(255,255,255,0.5);
    color: rgba(255,255,255,0.5);
}
.serieActionOption i {
    width: 100%;
}

.serieInfo-section {
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.serie-info-box {
    margin: 4px 0;
}
.serie-info-label {
    color: #333;
}


.seasons-section {
    padding: 10px 10px 0 10px;
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.episodes-section {
    padding: 10px 10px 0 10px;
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.seasons-section .section-header{
    border-bottom: 1px solid #ddd;
}
.episodes-section .section-header{
    border-bottom: 1px solid #ddd;
}
.season-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.season-top-section {
    width: 100%;
    clear: both;
    margin-top: 10px;
}
.season-data-section {
    padding: 10px;
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.season-poster {
    float: left;
    width: 130px;
    height: 200px;
}
.season-poster img {
    width: 100%;
    height: 100%;
}
.season-info {
    float:left;
    width: calc(100% - 130px);
    padding-left: 10px;
}
.season-name-year {
    height: 140px;
    width:100%;
    font-size: 20px;
    line-height: 30px;
}
.season-name {
    max-height: 90px;
    width:100%;
    color: #1e88e5;
}
.season-year {
    height: 50px;
    width:100%;
}
.season-ratings {
    width: 100%;
    clear: both;
    height: 60px;
}
.season-rating-box {
    float: left;
    width: 50%;
    padding: 10px;
}
.season-rating-box img {
    float: left;
    width: 40px;
    height: 40px;
}
.season-rating {
    font-size: 20px;
    line-height: 40px;
    margin-left: 10px;
    float: left;
}
.seasonInfo-section {
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.season-info-box {
    margin: 4px 0;
}
.season-info-label {
    color: #333;
}



.episode-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
.episode-top-section {
    width: 100%;
    clear: both;
    margin-top: 10px;
}
.episode-data-section {
    padding: 10px;
    background-color: #ffffff;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.episode-poster {
    float: left;
    width: 130px;
    height: 200px;
}
.episode-poster img {
    width: 100%;
    height: 100%;
}
.episode-info {
    float:left;
    width: calc(100% - 130px);
    padding-left: 10px;
}
.episode-name-year {
    height: 140px;
    width:100%;
    font-size: 20px;
    line-height: 30px;
}
.episode-name {
    max-height: 90px;
    width:100%;
    color: #1e88e5;
}
.episode-year {
    height: 50px;
    width:100%;
}
.episode-ratings {
    width: 100%;
    clear: both;
    height: 60px;
}
.episode-rating-box {
    float: left;
    width: 50%;
    padding: 10px;
}
.episode-rating-box img {
    float: left;
    width: 40px;
    height: 40px;
}
.episode-rating {
    font-size: 20px;
    line-height: 40px;
    margin-left: 10px;
    float: left;
}
.episodeInfo-section {
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.episodeSynopsis-section {
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
.episode-info-box {
    margin: 4px 0;
}
.episode-info-label {
    color: #333;
}

#episode-download-section {
    padding: 10px;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}
#episodeTrailerButton {
    background-color: #1e88e5;
    margin-bottom: 10px;
}
#episodeTrailerButton:hover {
    background-color: #005cb2;
}
#episodeStreamButton {
    background-color: #1e88e5;
    margin-bottom: 10px;
}
#episodeStreamButton:hover {
    background-color: #005cb2;
}
#episodeSubtitleButton {
    background-color: #1e88e5;
}
#episodeSubtitleButton:hover {
    background-color: #005cb2;
}

/*****************  DOWNLOADS SECTION  ******************/

.downloads-header {
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    font-size: 18px;
    background-color: #1e88e5;
    color: #fff;
}
.downloads-back {
    float: left;
    width: 50px;
    border-right: 1px solid rgba(255,255,255,0.5);
    cursor: pointer;
}
.downloads-back .fa {
    width: 100%;
    text-align: center;
}
.downloads-head {
    width: calc(100% - 50px);
    float: left;
}
.downloads-head-text {
    max-width: 750px;
    margin: 0 auto;
    left: -25px;
    position: relative;
}

.download-item {
    padding: 15px;
    margin: 15px auto;
    max-width: 750px;
    background-color: #fff;
    box-shadow: 4px 4px 17px rgba(40,40,40,0.4);
    position: relative;
}
.download-file-icon {
    width: 70px;
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.download-file-icon a {
    width: 64px;
    height: 64px;
}
.download-file-data {
    float: right;
    width: calc(100% - 70px);
}
.download-file-name {
    color: #1e88e5;
    font-weight: bold;
}
.download-file-link {
    height: 20px;
    overflow: hidden;
    white-space: nowrap;
    color: #888;
    cursor: pointer;
}
.download-file-link:hover {
    color: #f06292;
}
.download-progress-bar {
    width: 100%;
    background-color: #ddd;
}
.download-complete-part {
    background-color: #1e88e5;
    width:0;
    height: 100%;
}
.download-action-button {
    float: left;
    margin: 2px 15px 2px 0;
    color: #1e88e5;
    cursor: pointer;
}
.download-action-button:hover {
    text-decoration: underline;
}
.download-file-remove {
    position: absolute;
    top: 0;
    right: 8px;
    color: #bbb;
    font-size: 20px;
    cursor: pointer;
}

.route-box {
    float:left;
}
.route-box:focus, .route-box:visited, .route-box:active {
    outline: none !important;
}
.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    padding-left: 18px;
    padding-right: 18px;
}
.btn-arrow-right {
    padding-left: 36px;
}
.btn-arrow-left {
    padding-right: 36px;
}
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */
    content:"";
    position: absolute;
    top: 5px; /* move it down because of rounded corners */
    width: 22px; /* same as height */
    height: 22px; /* button_outer_height / sqrt(2) */
    background: inherit; /* use parent background */
    border: inherit; /* use parent border */
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    border-radius: 0px 4px 0px 0px; /* round arrow corner, the shorthand property doesn't accept "inherit" so it is set to 4px */
    -webkit-border-radius: 0px 4px 0px 0px;
    -moz-border-radius: 0px 4px 0px 0px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
    transform: rotate(45deg); /* rotate right arrow squares 45 deg to point right */
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}
.btn-arrow-left:before,
.btn-arrow-left:after {
    transform: rotate(225deg); /* rotate left arrow squares 225 deg to point left */
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
}
.btn-arrow-right:before,
.btn-arrow-left:before { /* align the "before" square to the left */
    left: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:after { /* align the "after" square to the right */
    right: -11px;
}
.btn-arrow-right:after,
.btn-arrow-left:before { /* bring arrow pointers to front */
    z-index: 1;
}
.btn-arrow-right:before,
.btn-arrow-left:after { /* hide arrow tails background */
    background-color: #f7f7f7;
    background: url(../images/deadpool2.jpg) no-repeat center center fixed;
    background-size: cover;
}
.btn-info {
    color: #fff;
    background-color: #1e88e5;
    border-color: #1e88e5;
}
.btn-info:hover, .btn-info:active, .btn-info:focus {
    background-color: #005cb2;
    border-color: #1e88e5;
}
.btn-info.active.focus, .btn-info.active:focus, .btn-info.active:hover, .btn-info:active.focus, .btn-info:active:focus, .btn-info:active:hover, .open>.dropdown-toggle.btn-info.focus, .open>.dropdown-toggle.btn-info:focus, .open>.dropdown-toggle.btn-info:hover {
    background-color: #005cb2;
    border-color: #1e88e5;
}


video::-webkit-media-controls-overlay-enclosure {
    display: none !important;
}

video::-webkit-media-controls-enclosure {
    display: none !important;
}

video::-webkit-media-controls {
    display: none !important;
}

.video-wrapper {
    background-color: rgba(50,50,50,0.9);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 15;
}
.youtube-wrapper {
    background-color: rgba(50,50,50,0.9);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 15;
}

.video-box {
    position: absolute;
    height: 450px;
    width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000;
}
.video-closer, .youtube-closer {
    position: absolute;
    width: 30px;
    height: 30px;
    right: -30px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
    color: rgba(255,255,255,0.9);
    vertical-align: top;
    cursor: pointer;
}

#bringePlayer {
    width: 800px;
    height: 450px;
    position: relative;
    background-color: #010001;
}

#bringePlayer.fullScreen {
    width: 100%;
    height: 100%;
    position: relative;
}

#playerControls {
    position: absolute;
    width: 800px;
    z-index: 2147483648;
    bottom: 0;
    padding: 0 10px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.8)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.8)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.8)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.8)); /* Standard syntax */
}

.fullScreen #playerControls {
    position: absolute;
    height: 60px;
    width: 100%;
    z-index: 2147483648;
    bottom: 0;
    left: 0;
}

#seekGroup {
    position: relative;
    width: 100%;
    height: 14px;
    cursor: pointer;
    clear: both;
    display: block;
}

#loadedRange {
    position: absolute;
    top: 0;
    height: 4px;
    margin: 5px 0;
    width: 0;
    background-color: rgba(255, 255, 255, 0.4);
}

#seenRange {
    position: absolute;
    top: 0;
    height: 4px;
    margin: 5px 0;
    width: 0;
    background-color: #f12b24;
}

#seekbar {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 5px 0;
    cursor: pointer;
}

#peekTimeText {
    display: none;
    background-color: #222;
    color: #fff;
    position: absolute;
}

#playerButtons {
    height: 36px;
    color: rgba(255, 255, 255, 0.95);
}

.playerButton {
    float: left;
    width: 30px;
    text-align: center;
    cursor: pointer;
}
#playpause {
    width: 50px;
    font-size: 20px;
}
.fullScreen #playerButtons {
    height: 46px;
    font-size: 20px;
}
.fullScreen .playerButton {
    width: 50px;
}
.fullScreen #playpause {
    font-size: 24px;
    width: 80px;
}
#fullscr {
    float: right;
}

#volumeGroup {
    width: 60px;
    margin: 11px 0;
    height: 14px;
    cursor: pointer;
    position: relative;
}
.fullScreen #volumeGroup {
    margin: 16px 10px 16px 0;
}

.playerControlPart {
    float: left;
    height: 36px;
    line-height: 36px;
    padding: 0 5px;
    text-align: center;
    vertical-align: middle;
    font-weight: lighter;
}
.fullScreen .playerControlPart {
    line-height: 46px;
    height: 46px;
    padding: 0 10px 0 0;
}

#volumeSet {
    position: absolute;
    top: 0;
    height: 4px;
    margin: 5px 0;
    width: 0;
    background-color: rgba(255, 255, 255, 0.95);
}

#volumecontrol {
    position: absolute;
    padding: 5px 0;
    left: 0;
    top: 0;
    width: 100%;
    cursor: pointer;
}

.playerButton i.fa {
    line-height: 36px;
}
.fullScreen .playerButton i.fa {
    line-height: 46px;
}

#playerPopup {
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    top: 0;
    z-index: 2147483648;
}

#playerPlay {
    position: relative;
    width: 100px;
    height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

#playerLoader {
    position: relative;
    width: 60px;
    height: 60px;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
}

#playerPlay i, #playerLoader i {
    color: rgba(255, 255, 255, 0.95);
    text-align: center;
    width: 100px;
    line-height: 100px;
    font-size: 100px;
    cursor: pointer;
}
#playerLoader i {
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    width: 60px;
    line-height: 60px;
    font-size: 60px;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 0;
    background: rgba(0, 0, 0, 0);
}

input[type=range]::-webkit-slider-runnable-track {
    height: 4px;
    background: rgba(255, 255, 255, .2);
    border: none;
    border-radius: 3px;
}

input[type=range]#seekbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    visibility: hidden;
    border: none;
    height: 4px;
    width: 4px;
    background: #1e88e5;
    margin-top: 0px;
}
input[type=range]#volumecontrol::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #fff;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}